
	input#inputEmail3 {
    width: 300px;
}
	#inputNumber1 {
    width: 200px;
}
	#inputNumber {
    width: 200px;
 }   
	#inputNumber2 {
    width: 100px;
}
h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}
.row {
    
    padding-left: 10%;
    padding-top: 10px;
    margin-top: 20px;
}
.col-sm-offset-2.col-sm-10 {
    text-align: center;
}
label#image {
    padding-top: 30px;
}
