table{
    border: 2px solid black;
}
th,td{
    border-left:  2px solid black;
}

button{
    margin-bottom: 20px;
}
.btn-toolbar.justify-content-between {
    margin-top: 40px;
}
.card-header{
    padding: 0px;
}
h3 {
    margin-top: 20px;
}
.flex{
    margin-top: 10px;
}
    /*th.img {
        background: url(image/icons8-sort-down-26.png) no-repeat right 50%;
        }*/
        .hinhanh {
            margin-left: 15px;
        }
        input.edit {
            margin-right: 20px;
        }
        th.acction ,.stu, .img{
            text-align: center;
            width: 15%;
        }
        th.age{
            text-align: center;
            width: 10%; 
        }
        th.tech{
            text-align: center;
            width: 22%; 
        }
        td {
            text-align: center;
        }